/node_modules
/dist
/.env
/.env.local
/.env.*.local
/coverage
/.vscode
.DS_Store
*.log
*.tsbuildinfo
# Ignore IDE specific files
.idea/
*.sublime-project
*.sublime-workspace
/.next
/out
/.nuxt
/.cache
